@model IEnumerable<AgricolaProspectos.Models.Prospecto>

@{
    ViewData["Title"] = "Index";
}

<h1>Listado de prospectos</h1>

<p>
    <div class="form-group">
        <a asp-action="Create" class="btn btn-success">Captura de prospecto</a>
    </div>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                Primer apellido
            </th>
            <th>
                Segundo apellido
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estatus)
            </th>
            <th>
                Detalles
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrimerApellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SegundoApellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estatus)
            </td>
            <td>
                    <a asp-action="Details" asp-route-id="@item.ProspectoId" class="btn btn-info">Detalles</a>
            </td>
        </tr>
}
    </tbody>
</table>
